
.top{
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
    flex-wrap: wrap;
    display: block;
    padding-left: 6rem;
    margin-right: 6rem;
}
.top .p1{
    justify-content: flex-start;
    margin-left: 1rem;
    margin-right: 2rem;
    color: black;
}
.home-word{
color: grey;
}
.contact{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 6rem;
    padding-left: 6rem;
    padding-right: 6rem;
    gap: 2rem;
}
.contact .form-contact{
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 2rem;
    width: 53rem;
    min-width: fit-content;
    border-radius: 4px;
    padding: 2rem;
    box-shadow: 0 1px 1px 0 0 rgba(216, 211, 211, 0.762), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    min-height: fit-content;

}
.contact .form-contact input{
    background-color: #F5F5F5;
    border: none;
    margin: 2rem;
    /* margin-left: .5rem; */
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    border-radius: 4px;
    width: 13rem;
}
.contact .form-contact textarea{
    background-color: #F5F5F5;
    padding-left: 1rem;
    padding-top: 1rem;
    border: none;
    display: block;
    margin-left: 2rem;
    width: 92%;
}
.contact .orange-btn{
    background-color: #DB4444;
    text-transform: capitalize;
    height: 3rem;
    font-size: 1rem;
    font-weight: 400;
    margin-right: 2rem; 
    margin-top: 3rem;
    float: right;
    /* left: 77%;
    top: 70%;
    position:absolute; */
}
.contact .orange-btn:hover{
    opacity: .5;
    background-color: #DB4444;

}
.contact .contact-card{
    width: 23rem;
    height: 36rem;
    /* height:fit-content; */
    padding: 3rem;
    margin-left: -2rem;
}
.contact .title-holder{
    margin-bottom: 1rem;
}
.contact .icon-orange{
    background-color: #DB4444;
    color: white;
    padding: 1rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.contact .title-contact{
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: capitalize;
}