.home{
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    gap: 7rem;
    /* place-items: center; */
    /* grid-template-columns: repeat(12, 1fr);  */
    margin-top: 2rem;
    overflow: hidden;
}
.home img{
    /* grid-column: span 9; */
    /* margin-left: -12rem; */
    width: 60%;
}
.home ul{
    /* grid-column: span 3; */
    list-style: none;
    color: black;
    position: relative;
    margin-left: 3rem;
}
.home ul li{
    margin-top: .5rem;
}
.home ul::after{
    position: absolute;
    content: "";
    height: 114%;
    background-color: #cac8c8;
    width: 1px;
    margin-left: 15px;
    top: -9%;
    left: 120%;

}
.home .arrow{
    padding-left: .5rem;
}
.home .arrow2{
    padding-left: 1.8rem;
}
@media(max-width:870px){
    .home ul{
        display: none;
    }
    .home img{
        width: 100%;
    }
    .home{
        margin-top: 0;
    }
}