.login{
    font-family: "Poppins", sans-serif;
}
.login .contain-login img{
    width: 50rem;
}
.contain-login{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 4rem;
}
.contain-login .contain-form{
   margin-left: auto;
   margin-right: auto;

}
.contain-login h2{
    padding-top: 6rem;
    color: black;
    font-weight: 500;

}
.contain-login p{
    /* text-transform: capitalize; */
    color: black;
    padding-bottom: 2rem;
}
.login .form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.login .form input{
    border: none;
    border-bottom: 1px solid grey;
    width: 20rem;
    color: grey;
}
.login .orange-btn{
    background-color: #DB4444;
    text-transform: capitalize;
    height: 3rem;
    font-size: 1rem;
}
.login .orange-btn:hover{
    opacity: .5;
    background-color: #DB4444;
}
.login .white-btn{
    background-color: white;
    box-shadow: none;
    border: 1px solid black;
    height: 3rem;
    font-size: 1rem;
    color: black;
    text-transform: capitalize;
}
.login .white-btn .google-icon{
    margin-right: 1rem;
}
.forgot{
    color:#DB4444;
    display: inline;
}
.forgot:hover{
    cursor: pointer;
    opacity: .5;
}
.form p{
    text-align: center;
}

@media(max-width:1124px){
    .login .contain-login img{
        display: none;
    }
}
@media(max-width:650px){
   .login{
        margin-right: 1rem;
        margin-left: 1rem;
   }
}