#my-nav{
    font-family: "Poppins", sans-serif;
    margin-top: 1.5rem;
    background-color: white;
    box-shadow: none;
    border-bottom: 1px solid #cac8c8;
    color: black;
    overflow: hidden;
}
#logo{
    font-weight: bold;
    margin-left: 4rem;
    margin-right: 8rem;
}
#home{
    text-decoration: underline;
    color: black;
    margin-left: 4rem;
}
.item{
    color: black;
    margin-right: 1.5rem;
}
#search-input{
    position: relative;
    margin-left: 8rem;
    background-color: #F5F5F5;
    border: none;
    color: #7D8184;
    width: 16rem;
    font-size: .9rem;
}
.icon-search{
    position: absolute;
    top: 9px;
    left: 92%;
    font-size: 1rem;
    font-weight:100;
    
}
.icons{
    display: flex;
    /* justify-content: space-between; */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 9px;
    font-size: 1.2rem;
    margin-left: 4rem;
}
@media(max-width:990px){
    #search-input{
        display: none;
        
    }
    .form-search{
        display: none;
    }


}
@media(max-width:375px){
    #logo{
        margin-left: 2rem;
    }
}